
th,td {
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-size: 0.9em;
}

th {
	font-size: 0.7em;
}

.slider .label {
	margin-right: 1em;
}
.slider .value {
	margin-left: 1em;
}

.options {
	float: right;
}

.details > table > tbody {
	overflow:auto;
	height:20em;
	width:100%;
}

.details > table > thead > tr{
}